.div {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.h2 {
  font-size: 1.5rem; /* Adjust the font size as needed */
  font-weight: bold;
  margin-top: 1rem; /* Adjust the top margin as needed */
  margin-bottom: 0.5rem; /* Adjust the bottom margin as needed */
}

.h3 {
  font-size: 1.25rem; /* Adjust the font size as needed */
  font-weight: bold;
  margin-top: 1rem; /* Adjust the top margin as needed */
  margin-bottom: 0.5rem; /* Adjust the bottom margin as needed */
}

.h4 {
  font-size: 1rem; /* Adjust the font size as needed */
  font-weight: bold;
  margin-top: 1rem; /* Adjust the top margin as needed */
  margin-bottom: 0.5rem; /* Adjust the bottom margin as needed */
}

.h5 {
  font-size: 0.875rem; /* Adjust the font size as needed */
  font-weight: bold;
  margin-top: 1rem; /* Adjust the top margin as needed */
  margin-bottom: 0.5rem; /* Adjust the bottom margin as needed */
}

.span {
  color: black;
  /* Add your styles for <span> elements here */
}

.ul {
  list-style-type: disc; /* Default bullet point style */
  margin: 0; /* Remove default margin */
  padding-left: 20px; /* Add some left padding for indentation */
}

/* Default styles for list items */
.li {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}
